 <article class="exhibitions-curated clearfix">
        <h3>Exhibitions Curated</h3>
        {% for row in cms.research.exhibitions_curated  %}
            <div class="entry-time-frame">
            	<p>
            		{{row.timeframe}}
            	</p>
            </div>

            <div class="exhibition entry-description">
                <p>{{row.title|safe}} {{row.location.street1}}, {{row.location.city}}, {{row.location.state}}, {{row.role}}</p>
            </div>
        {% endfor %}
  </article>