<footer>
	<div class="personal">
		<p class="name">{{cms.bio.name}}</p>
		<p class="cell">{{cms.bio.cell}}</p>
		<p class="e-mail">{{cms.bio.personal_email}}</p>
	</div>
	<div class="institution">
		<p class="department">{{cms.bio.department}}</p>
		<p class="university-address">
			{{cms.bio.university_address.street1}}<br/>
			{{cms.bio.university_address.street2}}<br/>
			{{cms.bio.university_address.city}},
			{{cms.bio.university_address.state}}, {{cms.bio.university_address.zip}}
		</p>
		<p class="office-phone">{{cms.bio.office_phone}}</p>
		<p class="university-email">{{cms.bio.university_email}}</p>
	</div>
</footer>