<section class="modal-overlay">
    <div class="modal-box">
      <form id="loginform" name="loginform" method="post" action="index.html">
        <h3 class="message">This page is password protected,<br> to gain access e-mail Monica: <a href="mailto:{{cms.bio.university_email}}">{{cms.bio.university_email}}</a></h3>
        {# <label for="password">Password</label> #}
        <input type="password" name="password" id="password" class="txtfield" placeholder="password" tabindex="2" required>
     
        <input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal"  value="Log In" tabindex="3">
      </form>
    </div>
 </section>