
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append universityservice to the site title defined in base.html #}
{% block title %}{% parent %} - universityservice{% endblock %}

{% block content %}

  {# The first thing we do is call universityservice data from the CMS. #}
  {% set data = cms.universityservice %}

  

  <h2>Service</h2>
  <section>
  <article class="university-service cv-entry clearfix">
        
        {% for item in cms.service  %}
            <div class="entry-time-frame">
                <p>{{item.timeframe}}</p>
            </div>
          <div class="entry-description">
            <p>
            {% if item.name|endsWith('”') %}
                {{item.name}}
                {% else %}
                {{item.name}},
            {% endif %}
            {{item.department|safe}},
            {% for relation in item.institution  %}
              {{relation.name}},
            {% endfor %}
            
            </p>
          </div>
        {% endfor %}
    </article>
</section>
{% endblock %}
