
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this syllabi's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<section class="syllabus">
  <p><a href="{{ url('syllabi') }}">View a list of all syllabi</a></p>
  <h2>{{ item.name }}</h2>
  {{ item.course_description|safe }}
  
  {% for row in item.schedule  %}
  <div class="week clearfix">
      <h3 class="week-number">Week {{row.week}}</h3>
      <h3>{{row.subject}}</h3>
      <p>{{row.day_one}}</p>
      <div class="readings">
         {{ row.day_one_readings|safe }}
       </div>
       <p><strong>{{ row.day_one_assignment }}</strong></p>
       
       <p>{{row.day_two}}</p>
       <div class="readings">
         {{ row.day_two_readings|safe }}
       </div>
       <p><strong>{{ row.day_two_assignment }}</strong></p>

       <p>{{row.day_three}}</p>
       <div class="readings">
         {{ row.day_three_readings|safe }}
       </div>
       <p><strong>{{ row.day_three_assignment }}</strong></p>
  </div>  
  {% endfor %}

 {% if item.additional_bibliography %}
  <div class="additional-bibliography">
   <h3>Additoinal Bibliography</h3>
    {{item.additional_bibliography|safe}}
  </div>
 {% endif %}

  
</section>
  
  
{% endblock %}
