{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH institutions #}
{# This page can use any data from http:localhost:2000/cms/#/form/institutions/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this institutions's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
  <p><a href="{{ url('institutions') }}">View a list of all institutions</a></p>
  <h1>{{ item.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ item.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Publish Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ item.publish_date|date('F d Y') }}
      </li>
      <li>
        <strong>Address: </strong>
        <address>
          {{ item.address.street1 }}<br/>
          {% if item.address.street2 %}{{ item.address.street2 }}<br/>{% endif %}
          {{ item.address.city }}, {{ item.address.state }}. {{ item.address.country }} {{ item.address.zip }}
        </address>
      </li>
      <li>
        <strong>Professional Experience (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.professional_experience_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ item.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ item.slug }}
      </li>
      <li>
        <strong>Teaching Experience (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.teaching_experience_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Travel Awards (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.travel_awards_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Professional Affliations (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.professional_affliations_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Bio (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.bio_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>References (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.references_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Grants and Fellowships (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.grants_and_fellowships_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>University Service (Institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.university_service_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
      <li>
        <strong>Research (chair institution): </strong>
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in item.research_chair_institution %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      </li>
  </ul>
{% endblock %}
