---
# Only the main Sass file needs front matter (the dashes are enough)
---

$text-color: rgb(40,40,40);
$pop-color:rgb(18,239,178);
$gray:rgb(200,200,200);

body{
	font-size:18px;
	margin:2em;
	background:black;
	transition:all 0.4s ease-in-out;
	-webkit-font-smoothing:antialiased;
	font-family: "Starling Bk";
    font-style: Normal;
    font-weight: Normal;
    font-feature-settings:"onum";

	&.loaded{
		background:white;
		transition:1.5s ease-in-out;
		p,h1,img,li,address{
			opacity:1;
			transition-property:opacity;
			transition-timing-function:ease-in-out;
		}

		
	}

	p,h1,img,li,address{
		opacity:0;
	}
}

::selection{
	background:$text-color;
	color:white;
}


img{
	max-width:100%;
	filter:grayscale(1) contrast(0.75);

	&:hover{
		filter:grayscale(0) contrast(1);
	}
	@media screen and (min-width:500px){
		max-width:50vw;
		max-height:12em;

	}

	@media screen and (min-width:700px){
		max-width:25vw;
	}
}

a{
	text-decoration:none;
	color:$text-color;
	border-bottom:1px solid $gray;

	&:hover{
		background:$text-color;
		color:white;
		transition:all 0.2s ease-in-out;
	}
}

h1,h2,h3,h4,h5,h6,p,address,li{
	color:$text-color;
}

.smcp{
	font-feature-settings:"c2sc";
}

h1,p{
	font-size:1em;
	
	@media screen and (min-width:700px){
		font-size: 2em;
		max-width:25em;

	}

	@media screen and (min-width:1800px){
		font-size:2.2em;
	}
}

h1{
	margin-top:0;
	font-weight:normal;
}

.home{
	

	@media screen and (min-width:700px){
		display:grid;
		grid-template-columns:1fr 2fr;
		grid-column-gap:1em;
	}

	@media screen and (min-width:1800px){
		grid-template-columns:1fr 4fr;
	}	
}

.contact{
	margin-bottom:1em;
	a{
		border-bottom:1px solid $gray;
	}

	p,address{
		font-size:1em;
		font-style:normal;
		line-height:1.33;
	}
	p{
		margin-bottom:0;
	}
}



.credentials{
	list-style:none;
	padding-left:1.75em;
	margin-bottom:1em;

	li{
		text-indent:-1.75em;
	}
}

