
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.bio.name }}{% endblock %}
{% block content %}



<section class="cv">
    <div class="contact-info">
        {% include "templates/partials/contact-info.html" %} 
   </div>
  <h2>CV</h2>
  <a class="download" href="{{ cms.bio.cv.url }}">Download CV</a>

  
  
    <article class="education cv-entry">
        <h3>Education</h3>
        {% for row in cms.educationandtraining.education %}
            <div class="degree">
                <p>
                    {{ row.degree }},   
                    {{ row.institution.name }},
                    {{ row.department }},
                    {{ row.year }}

                    {% if row.additional_notes %}
                        <div class="accolades">
                            {{ row.additional_notes|safe }}
                        </div>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </article>
  
    <article class="dissertation cv-entry">
        <h3>Dissertation</h3>
        
        <p>Title:{{cms.research.dissertation_title}}</p>
        <p>Chair:{{cms.research.dissertation_chair.first}} {{cms.research.dissertation_chair.last}}, {{cms.research.chair_title}}, 
        {% for relation in cms.research.chair_institution %}
          {{relation.name}}
        {% endfor %}
        </p>

        <p>Readers:
        {% for row in cms.research.dissertation_readers %}
          {{row.person.first}} {{row.person.last}} {{row.title}}
        {% endfor %}
        </p>

        <p class="dissertation-summary">
          Summary: {{cms.research.dissertation_abstract|safe}}
        </p>
    </article>
  
    <article class="research-teaching cv-entry">
        <h3>Research and Teaching Interests</h3>
        {{cms.research.research_and_teaching_interests|safe}}
    </article>

    <article class="grants-and-fellowships cv-entry">
        <h3>Grants and Fellowships</h3>
        {% for row in cms.research.grants_and_fellowships  %}
            <p>{{row.name}}, {{row.institution.name}}, {{row.institution.address.city}}, {{row.institution.address.state}}, {{row.timeframe}}</p>
        {% endfor %}
    </article>
  
    <article class="travel-awards cv-entry">
        <h3>Travel Awards</h3>
        {% for row in cms.research.travel_awards  %}
              <p>{{row.name}}, {{row.institution.name}}, {{row.institution.address.city}}, {{row.timeframe}}</p>
        {% endfor %}
    </article>
    
    <article class="teaching-experience cv-entry">
        {% block experience %}
            {% include "templates/partials/teaching-experience.html" %}
        {% endblock %} 
    </article>

    {% include "templates/partials/publications.html" %}
    
    {% include "templates/partials/exhibitions-curated.html" %}

       {% include "templates/partials/presentations.html" %}


    <article class="pedagogical-and-technical-training cv-entry">
        <h3>Pedagogical and Technical Training</h3>
        {% for row in cms.educationandtraining.pedagogical_and_technical_training %}
        <div class="degree">
          <p>{{row.title}}, {{row.department}}, {{ row.institution.name }}, {{row.timeframe}}. {{row.overview}}</p>
        </div>
       {% endfor %}
    </article>

    <article class="university-service cv-entry">
        <h3>University Service</h3>
        {% for item in cms.service  %}
          <div class="cv">
            <p>
            {% if item.name|endsWith('”') %}
                {{item.name}}
                {% else %}
                {{item.name}},
            {% endif %}
            {{item.department|safe}},
            {% for relation in item.institution  %}
              {{relation.name}},
            {% endfor %}
            {{item.timeframe}}
            </p>
          </div>
        {% endfor %}
    </article>
    
    <article class="professional-experience cv-entry">
        <h3>Professional Experience</h3>
        {% for item in cms.professionalexperience  %}
        <div class="cv">
          <p>{{item.position}},
          {% for relation in item.institution  %}
            {{relation.name}}, 
          {% endfor %}
          {{item.timeframe}}
          </p>
        </div>
      {% endfor %}
    </article>
    
    <article class="professional-affiliations cv-entry">
        <h3>Professional Affiliations</h3>
        {% for row in cms.bio.professional_affiliations %}
            <p>{{row.affiliation}}, {{row.timeframe}}</p>
        {% endfor %}
    </article>
    
    <article class="languages cv-entry">
        <h3>Languages</h3>
        {% for row in cms.bio.languages  %}
            <p>{{row.language}}: {{row.ability}}</p>
        {% endfor %}
    </article>
  
  
   {#  <article class="references cv-entry">
        <h3>References</h3>
        {% for row in cms.bio.references  %}
            <div class="cv">
                <p>
                    {{row.person.first}} {{row.person.last}}, {{row.title}}<br/>
                    {{row.department}}<br/>
                    {% for relation in row.institution  %}
                        {{relation.name}}<br/>
                    {% endfor %}
                    {{row.address.street1}}<br/>
                    {% if row.address.street2 %}
                        {{row.address.street2}}<br/>
                    {% endif %}
                    {{row.address.city}}, {{row.address.state}} {{row.address.zip}}
                    {{row.phone_number}}<br/>
                    <a href="mailto:{{row.email}}">{{row.email}}</a><br/>
                </p>
            </div>
        {% endfor %} 
    </article> #}
  
  
</section>
{% endblock %}
