
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.educationandtraining.name }}{% endblock %}
{% block content %}

<section class="education-and-training">
  <h2>{{ cms.educationandtraining.name }}</h2>
  <article>
  {% for row in cms.educationandtraining.education %}
  <div class="degree">
  <p>
        {{ row.degree }}, 
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          {{ row.institution.name }},
        {{ row.department }},
        {{ row.year }}
      
            {% if row.additional_notes %}
            <div class="accolades">
              {{ row.additional_notes|safe }}
              </div>
            {% endif %}
      
    </p>
    </div>
  {% endfor %}
  </article>
  
  <article class="pedagogical-and-technical-training">
    <h3>Pedagogical and Technical Training</h3>

   {% for row in cms.educationandtraining.pedagogical_and_technical_training %}
    <div class="degree">
      <p>{{row.title}}, {{row.department}}, 
      {% if row.instutition %}
        {{ row.institution.name }},
      {% endif %}
       {{row.timeframe}}. {{row.overview}}</p>
    </div>
   {% endfor %}
  </article>
  
</section>
  
{% endblock %}
