
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
  

  <div class="hero" style="background-image:url('{{cms.bio.portraits[0].url|imageSize(800)}}');">
    
  </div>

  
  
  <div class="clearfix">

    <div class="intro">
      <h2>Current Affiliations:
        {% for row in cms.bio.affiliations %}
            {{row.title}} at {{row.institution.name}}
        {% endfor %}
      </h2>
      <p>{{cms.bio.bio|safe}}</p>
    </div>
  
    <div class="news">
      <ul>
      {% for item in cms.news|sort('publis_date', true)|slice(0,3)  %}
          <li>
            <p class="date">{{item.publish_date|date('M j Y')}}</p>
            {{item.news|safe}}
          </li>
      {% endfor %}
      </ul>
    </div></div>
{% endblock %}
