
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
  

  <div class="hero" style="background-image:url('{{cms.bio.portraits[0].url|imageSize(800)}}');">
    
  </div>

  
  
  <div class="clearfix">

    <div class="intro">

      {% for row in cms.bio.affiliations  %}
            {% if loop.revindex > 1 %}
              <h2>Current Affiliations:
                {% for row in cms.bio.affiliations  %}
                  
                  {{row.title}} at {{row.institution.name}}      
                {% endfor %}
              </h2>
              {% elseif loop.revindex < 1%}
              <h2>Current Afilliation:
                {{row.title}} at {{row.institution.name}}
              </h2>
            {% endif %}
      {% endfor %}

      <p>{{cms.bio.bio|safe}}</p>
    </div>
  
    <div class="news">

      <ul>
      <h4>Updates</h4>
      {% for row in cms.news.announcements  %}
          <li>
            
            {{row.announcement|safe}}
          </li>
      {% endfor %}
      </ul>
    </div></div>
{% endblock %}
