
{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.research.name }}{% endblock %}
{% block content %}

<section class="research">
    <h2>{{ cms.research.name }}</h2>
    {{ cms.research.research_statement|safe }}

  <article class="dissertation">
    <h3>{{ cms.research.dissertation_title }}</h3>
    <p>{{ cms.research.dissertation_abstract }}</p>
  </article>

  <article class="grants-and-fellowships">
    <h3>Grants and Fellowships</h3>
    {% for row in cms.research.grants_and_fellowships %}
      <p>{{ row.name}}, {{ row.institution.name }}, {{row.institution.address.city}}, {{row.institution.address.state}},  {{ row.timeframe }}
        
      </p>
      {% endfor %}
  </article>
  {% include "templates/partials/publications.html" %}
  
  {% include "templates/partials/exhibitions-curated.html" %}

    
        
</section>

    
{% endblock %}
