
{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.research.name }}{% endblock %}
{% block content %}

<section class="research">
    <h2>{{ cms.research.name }}</h2>
    {{ cms.research.research_statement|safe }}

  <article class="dissertation">
    <h3>{{ cms.research.dissertation_title }}</h3>
    <p>{{ cms.research.dissertation_abstract }}</p>
  </article>

  <article class="grants-and-fellowships cv-entry clearfix">
        {% include "templates/partials/grants-and-fellowships.html" %}
    </article>
  
  {% include "templates/partials/publications.html" %}
  
  {% include "templates/partials/exhibitions-curated.html" %}

    
        
</section>

    
{% endblock %}
