
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this teaching's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.teaching.name }}{% endblock %}
{% block content %}

{# {% include "templates/partials/password.html" %} #}

<section class="teaching">
  <h2>{{ cms.teaching.name }}</h2>
  
  <p class="download"><a href="{{ cms.teaching.portfolio.url }}">Download Teaching Portfolio</a></p>
  
  <article class="philosophy">
    <h3 id="philosophy">Philosophy</h3>
    {{ cms.teaching.philosophy|safe }}
  </article>

  <article class="competencies">
    <h3 id="competencies">Competencies</h3>
    {% for row in cms.teaching.competencies %}
      <h4>
        {{ row.title }}
      </h4>
      {{ row.description|safe }}      
    {% endfor %}
  </article>

  <article class="teaching-experience">
    {% block experience %}
      {% include "templates/partials/teaching-experience.html" %}
    {% endblock %}
  </article>
  
  <article class="evidence-of-effectiveness">
    <h3 id="effectiveness">Evidence of Effectiveness</h3>            
    {% for row in cms.teaching.evidence_of_effectiveness %}
      {{ row.evaluation|safe }}          
    {% endfor %}
  </article>

  <h3>Course Syllabi</h3>
  <ul class="syllabi-list">
  {% for item in cms.syllabi  %}
  
      <li>
      <a href="{{url(item)}}">{{item.name}}</a>
      </li>  
  {% endfor %}
  </ul>
  
</section>
{% endblock %}
