$light-gray: rgb(230,230,230);

section{
	@extend %max-width;

	.download{
		@extend %space-after-giant;
		display:inline-block;
		// margin-bottom:10em;
	}
}

figure[data-type=image]{
	max-width:100%;
	a{
		@extend %link-no-underline;
	}
	figcaption{
		@extend %caption-type;
		@extend %small-type;
		text-align:left;
		line-height:1.4em;
		max-width:50%;
	}
}

article{
	@extend %space-after-giant;
	p{
		@extend %body-type;
		@extend %old-style-figures;
		@extend %second-line-indent;
	}

	p+p{
	
	}
	h3{
		@extend %space-before-0;
	}

	.course-information{
		p{
			text-indent:0em;
		}
	}
}


.teaching{
	article{
		p{
			@extend %no-indent;
		}
	}

	.teaching-experience{
		p{
			@extend %second-line-indent;
		}
	}
}

.research{
	.dissertation{
		p{
			@extend %no-indent;
		}
	}
}


.syllabus{
	figure[data-type=image] {
		display:inline-block;
		width:auto;
		&.wy-figure-large{
			// background:yellow;
			width:auto;
		}
		img{
			width:auto;
			max-width:100%;
		}

		figure[data-type=table]{
			margin:0em;
			@media screen and (min-width:600px){
			margin:1em 2em;
		}
	}

	.week{
		// @extend %padding-top-big;
		padding-top:5em;
		.week-number{
			color:$light-gray;
			display:inline-block;
			float:left;
			margin-right:3em;
		}
	}

	.readings{
		a{
			 word-break:     break-all;
  			-webkit-hyphens: auto;
  			-moz-hyphens:    auto;
  			hyphens:         auto;
		}
	}
}



figure figcaption{
	width:auto;
}


table{
	width:100%;
	margin:0em;
	@media screen and (min-width:600px){
	}
	
	td{
		border-bottom:1px solid $light-gray;
		padding-right:0.25em;
	}
}


ol li{
	margin-bottom:1em;
}



.week{
	border-top:1px solid $link-color;
	p{
		@media screen and (min-width:1000px){
			margin-left:6.5em;	
		}
		
	}
}

.week
.readings p{
	@media screen and (min-width:1000px){
		margin-left:8.5em;	
	}
	margin-left:2em;
	text-indent:-2em;
}

.additional-bibliography{
	border-top:1px solid $link-color;
	p{
		margin-left:2em;
		text-indent:-2em;
	}
}

}


::selection{
	background:#d6fffc;
}

body{
	margin:0em auto 0em auto;
	max-width:1000px;
	padding:0em 2em 10em 2em;
	// border-top:2px solid $link-color;
	// border-bottom:2px solid $link-color;
	opacity:0.0;
	@include transition(opacity 0.12s ease-in);
}

body.loaded{
	opacity:1.0;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


// LINKS ---------------------------------
a:link,
a:visited{
	color:black;
	text-decoration:none;
	border-bottom:1px solid $link-color;
}

a:hover{
	color:$link-color;
}



// HEADER --------------------------------
.logo{
	a:link,
	a:visited{
		color:black;
		border-bottom:none;
	}
}

// MAIN NAV ------------------------------

button{
	background:none;
	border:2px solid $light-gray;
	border:none;
	color:$middle-gray;
	text-transform:uppercase;
	font-size:0.8em;
	// font-weight:bold;
	letter-spacing:2px;
	@media screen and (min-width:1000px){
		display:none;
	}
}

button:active{
	
}

button:focus{
	background:$link-color;
	outline:none;
	color:white;
}

nav{
	display:none;
	@media screen and (min-width:1000px){
		display:inline-block;
		// display:block;	
	}
	
	ul{
		padding:0em;
		list-style:none;
		// display:flex;
		// -webkit-column-count:2;
		
	}

	li{
			text-transform:uppercase;
			letter-spacing: 1px;
			font-family:"Atlas Grotesk", Arial;
			font-weight:bold;
			font-size:0.8em;
			border-bottom:1px solid rgb(240,240,240);
			
			a:link,
			a:visited{
				display:block;
				padding:0.5em 0.25em;
				border-top:1px solid white;
				border-bottom:1px solid white;
				color:$link-color;
			}
			a:hover{
				// background:$light-gray;
				color:black;
				border-top:1px solid $light-gray;
				border-bottom:1px solid $light-gray;
			}
		}
	@media screen and (min-width:1000px){
		li{
			display:inline-block;
			padding:0.5em;
			border-bottom:none;
			
		}		
	}
}
.activated{
	display:block;
}
.nav-bar{
	width:100%;
	border-top:2px solid $link-color;
	margin-top:0em;
	// position:absolute;
	background:white;
	top:0em;
}
.nav-bar.fixed{
	position:fixed;
	top:0em;
	background:white;
	z-index:10;

}
// CONTACt --------------------------------
.contact-info{
	clear:both;
	
	article.contact{
		margin-bottom:0em;
		float:left;
		margin-left:1.5em;
		&:nth-child(2){
			margin-left:0em;
		}
		p.e-mail{
			margin:0em;
			text-indent:0em;
		}
	}
}

// CV -------------------------------------
.cv{
	.contact-info{
		display:none;
	}
}
//  SEARCH --------------------------------
form{
	// display:none;
}

// HOMEPAGE
.intro{
	@media screen and (min-width:600px){
		width:66%;
		float:left;
		margin-right:2em;
	}
	
}

.news{
	// border-top:1px solid $light-gray;
	width:100%;
	float:left;
	@media screen and (min-width:900px){
		width:30%;
		float:left;
		border-top:none;
	}
	.date,
	h4{
		font-family:"Atlas Grotesk", Arial;
		text-transform:uppercase;
		letter-spacing:1px;
		font-size:0.7em;
		font-weight:bold;
		color:$middle-gray;
		padding-bottom:0.5em;
		margin-top:2em;
		border-bottom:1px solid $light-gray;
	}
	p{
		margin-left:0em;
	}
	p + p{
		margin-top:0.25em;
	}
	ul{
		padding-left:0em;
	}
	h3{
		margin-top:1.75em;
	}
	p{
		max-width:100%;
	}
	li{
		&:first-child{
		border-top:1px solid $light-gray;	
		}
		list-style:none;
		border-bottom:1px solid $light-gray;
		@media screen and (min-width:600px){
			p{
				width:66%;
			}
		}
	}
}

.news:after{
	clear:both;
}

// SYLLABI --------------------------------
.syllabi-list{
	padding-left:0;
	li{
		list-style:none;
		@extend %sans-serif-type;
		margin-bottom:1em;
	}
}

// CV -------------------------------------
.download{
	letter-spacing:1px;
	@extend %sans-serif-type;
}
// PORTRAIT -------------------------------
.portrait{
	display:block;
	@include filter(grayscale(100%));
	@media screen and (max-width:599px){
		width:100%;
	}
}

.portrait.homepage{
	width:100%;
}

.hero{
	width:100%;
	height:76vh;
	background-size:cover;
	background-position:-80vw 0;
	@media screen and (min-width:320px) and (max-height:480px){
		background-position:-65vw 0;
	}
	@media screen and (min-width:500px){
		background-position:-30vw 0;
	}
	@media screen and (min-width:600px){
		background-position:-20vw 0;
	}
	@media screen and (min-width:767px){
		background-position:0vw 0;
	}

	@media screen and (min-width:767px) and (max-height:745px){
		background-position:0vw -10vh;
	}
}


