@media print{
	.cv{
		overflow:visible;
		h2,
		.download,
		button{
			display:none;
		}
		.activator{
			display:none;
		}
		article{
			margin-bottom:1em;

			p,
			h3{
				font-size:10pt;
				line-height:14pt;
				color:red;
			}

			.entry-time-frame{
				border:1px solid red;
				width:15%;
				float:left;
			}
			.entry-description{
				border:1px solid blue;
				width:70%;
				float:left;
				margin-left:1em;
			}
		}
	}
}