// COLORS
$link-color: #05d2c1;
$light-gray: rgb(230,230,230);
$middle-gray: rgb(200,200,200);
$body-color: rgb(0,0,0);


%no-underline{
	text-decoration:none;
}

%max-width{
	max-width:700px;
}

%link-underline{
	border-bottom:1px solid $link-color;
}

%link-no-underline{
	border-bottom:none;
}

%standard-link{
	a,
	a:visited{
		@extend %no-underline;
		@extend %link-underline;
		color:$body-color;
	}
}