---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  

  <section class="contact">
    <div class="headshot">
    <img src="assets/img/monica-bravo-2000.jpg">
  </div>
    <p><a href="mailto:bravo@cca.edu">bravo@cca.edu</a></p>
    <address>
      California College of the Arts<br>
      1111 8th Street<br>
      San Francisco, CA<br>
      United States 94107
    </address>
    <div class="social">
      <p><a href="https://www.linkedin.com/in/monica-bravo-926745105" target="_blank">LinkedIn</a></br>
      <a href="http://yale.academia.edu/MonicaBravo" target="_blank">Academia.edu</a></p>
    </div>
  </section>

  <section class="bio">
    <h1>Assistant Professor of History and Theory of Photographic Media at <a href="http://cca.edu" target="_blank">California College of the Arts</a></h1>

      <p><a href="mailto:bravo@cca.edu">Monica Bravo</a> specializes in the history of photography and the modern art of the Americas. Her current book project examines exchanges between U.S. modernist photographers and modern Mexican artists working in painting, poetry, music, and photography, resulting in the development of a Greater American Modernism in the interwar period. Her research has been supported by fellowships from the Center for Advanced Study in the Visual Arts (CASVA), the Center for Creative Photography, the Georgia O’Keeffe Research Center, the Harry Ransom Center, the Huntington Library and Art Collections, and the Terra Foundation for American Art.</p>

      <ul class="credentials">
        <li>B.A., Studio Art, Dartmouth College, Hanover, NH, 2004</li>
        <li>M.A., Art History and Criticism, Stony Brook University,       Stony Brook, NY, 2009</li>
        <li>Ph.D., History of Art and Architecture, Brown University,        Providence, RI, 2016</li>
      </ul>

  </section>

  

  

</div>
