---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  <section class="contact">
    <div class="headshot">
    <img src="{{page.headshot}}">
  </div>
    <address>
      {{page.contact | markdownify}}
    </address>
    <div class="social">
      <p>
      {% for item in page.social_links %}
        <a href="{{item.link.url}}">{{item.link.link_text}}</a><br>
      {% endfor %}
        </p>
    </div>
  </section>

  <section class="bio">
     {{page.bio | markdownify}}

      <ul class="credentials">
        {% for item in page.education %}
          <li>{{item.item}}</li>
        {% endfor %}
      </ul>

     

  </section>

  

  

</div>
